* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 2rem;
  font-family: 'Poppins', sans-serif;
}

button {
  cursor: pointer;
}

.resize-svg {
  display: block;
  margin: auto;
  height: 60%;
  width: 60%;
  -o-object-fit: contain;
     object-fit: contain;
}

section.colors {
  min-height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: auto;
      -ms-flex-pack: auto;
          justify-content: auto;
  -webkit-box-align: auto;
      -ms-flex-align: auto;
          align-items: auto;
  overflow: hidden;
}

.palette {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  border: 1px solid white;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #4626d6;
  position: relative;
}

.palette header {
  margin-bottom: 20rem;
  cursor: pointer;
}

.palette button {
  margin: 2rem 0;
  background: none;
  border: none;
}

.palette svg path {
  fill: white;
}

.color-control {
  position: absolute;
  min-height: 55%;
  bottom: -56%;
  width: 90%;
  margin: 0 auto;
  background: white;
  color: grey;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  -webkit-transition: visibility 1s ease, opacity 1s ease, -webkit-transform 1s ease;
  transition: visibility 1s ease, opacity 1s ease, -webkit-transform 1s ease;
  transition: transform 1s ease, visibility 1s ease, opacity 1s ease;
  transition: transform 1s ease, visibility 1s ease, opacity 1s ease, -webkit-transform 1s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: auto;
      -ms-flex-pack: auto;
          justify-content: auto;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  visibility: hidden;
  opacity: 0;
}

.color-control .close-color-control {
  margin: 0;
  color: white;
  background: black;
  padding: 1.8rem;
  border-top-right-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.color-control label, .color-control input {
  margin: .8rem;
}

.color-control-active {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  visibility: visible;
  opacity: 1;
}

section.controls {
  position: relative;
  min-height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.controls button {
  display: block;
  margin: auto;
  background: black;
  height: 4rem;
  width: 6rem;
  border: none;
  border-radius: 1rem;
}

section.controls button svg path {
  fill: white;
}

section.controls label {
  display: block;
  padding-top: 2rem;
}

.modal-container {
  background: rgba(0, 0, 0, 0.308);
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 3;
  display: block;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility .5s ease, opacity .5s ease;
  transition: visibility .5s ease, opacity .5s ease;
}

.modal-container-active {
  visibility: visible;
  opacity: 1;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: white;
  border-radius: 2rem;
  min-height: 30rem;
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: auto;
      -ms-flex-align: auto;
          align-items: auto;
}

.modal button.close {
  -ms-flex-item-align: end;
      align-self: flex-end;
  background: black;
  border: none;
  height: 3rem;
  width: 4rem;
  border-top-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
}

.modal button.close svg path {
  fill: white;
}

.save-modal header {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 4rem 0;
}

.save-modal form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.save-modal form input {
  margin-bottom: 4rem;
  padding: 1.5rem;
}

.save-modal form button {
  padding: 1rem 2rem;
  border: none;
  background: green;
  color: white;
}

.copied-modal {
  min-height: 25rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.copied-modal header {
  padding: 4rem 0;
}

.copied-modal p {
  background: rgba(70, 63, 78, 0.219);
  padding: 2rem;
}

.library-modal header {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 4rem 0;
}

.library-modal ul li {
  margin: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: auto;
      -ms-flex-align: auto;
          align-items: auto;
}
/*# sourceMappingURL=style.css.map */