$background-color: black; 
$font-color: white; 
$font-size: 2rem; 

@mixin flex($direction:row, $justify: auto, $align: auto) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

// Global Styles

*{
    padding: 0; 
    margin: 0; 
    box-sizing: border-box;
}

html{
    font-size: 62.5%; 
}

body{
    font-size: $font-size;
    font-family: 'Poppins', sans-serif;
}

button{
    cursor: pointer; 
}

.resize-svg{
    display: block;
    margin: auto; 
    height: 60%;
    width: 60%;
    object-fit: contain;
}


// Colors Section

section.colors{
    min-height: 80vh;
    @include flex(row); 
    overflow: hidden;

}

.palette{
    flex: 1 1 40rem;
    color: white; 
    @include flex(column, center, center); 
    position: relative; 

    header{
        margin-bottom: 20rem;
        cursor: pointer;
    }

    button{
        margin: 2rem 0; 
        background: none; 
        border: none; 
    }

    svg path{
        fill: white; 
    }
}

.color-control{
    position: absolute; 
    min-height: 55%;
    bottom: -56%; 
    width: 90%; 
    margin: 0 auto; 
    background: white; 
    color: grey; 
    border-top-left-radius: 1.5rem; 
    border-top-right-radius: 1.5rem; 
    transition: transform 1s ease, visibility 1s ease, opacity 1s ease; 
    @include flex(column, auto, stretch);
    visibility: hidden;
    opacity: 0; 

    .close-color-control{
        margin: 0; 
        color: white; 
        background: black; 
        padding: 1.8rem; 
        border-top-right-radius: 1.5rem;
        border-bottom-left-radius:1.5rem;
        align-self: flex-end;
    }

    label,input{
        margin: .8rem; 
    }   

    input{
        appearance: none;
        border-radius: 1rem; 
    }

    #hue{
        background-image: linear-gradient(to right, rgb(204, 75, 75), rgb(204, 204, 75), rgb(75, 204, 75), rgb(75, 204, 204), rgb(75, 75, 204), rgb(204, 75, 204), rgb(204, 75, 75)); 
    }
    
}

.color-control-active{
    transform: translateY(-100%); 
    visibility: visible;
    opacity: 1; 
}

// Controls Section

section.controls{
    position: relative;
    min-height: 20vh;  
    @include flex(row, space-around, center);

    button{
        display: block;
        margin: auto; 
        background: black; 
        height: 4rem;
        width: 6rem; 
        border: none;
        border-radius: 1rem; 

        svg path{
                fill: white; 
            }
        }            
    label{
        display: block; 
        padding-top: 2rem;    
    }
}

// Modals

.modal-container{
    background: rgba(0, 0, 0, 0.308); 
    position: absolute;
    top: 0; 
    left: 0; 
    height: 100vh;
    width: 100vw; 
    z-index: 3; 
    display: block; 
    visibility: hidden;
    opacity: 0; 
    transition: visibility .5s ease, opacity .5s ease; 
}

.modal-container-active{
    visibility: visible;
    opacity: 1; 
}

.modal{
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 2rem; 
    min-height: 30rem;
    width: 40%; 
    @include flex(column, flex-start, auto); 

    button.close{
        align-self: flex-end; 
        background: black; 
        border: none; 
        height: 3rem; 
        width: 4rem; 
        border-top-right-radius: 2rem;
        border-bottom-left-radius:2rem;
        svg path{
            fill: white; 
        }
    }
}

.save-modal{
    header{
        align-self: center;
        margin: 4rem 0; 
    }

    form{
        @include flex(column, center, center); 
        input{
            margin-bottom: 4rem; 
            padding: 1.5rem; 
        }
        button{
            padding: 1rem 2rem ;
            border: none; 
            background: green; 
            color: white; 
        }
    }
}

.copied-modal{
    min-height: 25rem;
    align-items: center;
    header{
        padding: 4rem 0; 
    }

    p{
        background: rgba(70, 63, 78, 0.219); 
        padding: 2rem ; 

    }
}

.library-modal{
    header{
        align-self: center;
        margin: 4rem 0; 
    }

    ul{
        li{
            margin: 1rem 0; 
            @include flex(row, space-around, auto); 
        }
    }
}




